.header{
    display: flex;
    margin-bottom: 50px;
}

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.vetrine {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}