body{
    background-color: orange;
}

.header{
    display: flex;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.vetrine {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    width: 200px;
    background-color: rgba(240, 255, 255, 0.697);
    border: 1px solid #ccc;
    color: black;
    padding: 10px;
    border-radius: 6px;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}